<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form  method="POST" th:action="@{/login}">
        <div>  
            <label for="adEmail">Email:</label> 
            <input type="email" id="adEmail" name="adEmail" required>
        </div>
        <div>
            <label for="adPassword">Password:</label>
            <input type="password" id="adPassword" name="adPassword" required>
        </div>
        <div>
            <button type="submit" >Login</button>
        </div>
    </form>
</body>
</html>
